<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488025130736-m275cq7o2vh395bk6pnpg2gkrrbivth6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488025130736-m275cq7o2vh395bk6pnpg2gkrrbivth6</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Vxu4DB_-ldgiul29vNLp3bkf-8P8CV0</string>
	<key>GCM_SENDER_ID</key>
	<string>488025130736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futakumin.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ec006</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ec006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488025130736:ios:dcb66ac9e0f444b8a82435</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-ec006.firebaseio.com</string>
</dict>
</plist>